/* Import 2 fonts */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap'); /*Instrument serif*/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap'); /*Graduate*/
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap'); /*Jacquarda Bastarda 9*/

:root {
    --blancgrah : #fffffe;
    --grisgrah : #9e9e9e;
    --grisgrah2: #bdbdbd;
    --rosegrah : #ffd8e8;
    --browngrah : #926e56;
    --vertgrah : #DBE9B7;
    --beigegrah: #FEFBD5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Serif", serif;
    
}

header {
    padding: 0 200px; /* top n bottom, left n right*/
}

/* Header style*/
nav {
   
    display: flex; /* mettre les éléments sur une même ligne */
    justify-content: space-between; /* espacer les éléments */
}

.onglets {
    list-style: none;
    display: flex;
    gap: 0px;
}

.onglet1 , .onglet2, .onglet3, .onglet4 {
font-size: 20px;

 display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 40px;
  font-size: 25px;

  background-color: #6c63ff;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%); /* forme de trapèzes */
  color: white;
    
}

.onglet1 {
    background-color: #b9bc92;
    color: #6f5d4f;
}
/*.onglet2 {
    background-color: #6c63ff;
    color: white;
}*/
/*.onglet3 {
    background-color: #6c63ff;
    color: white;
}*/
/*.onglet4 {
    background-color: #6c63ff;
    color: white;
}*/
#dropdown {
    display: none;
    background-color: red;
}
#dropdown.active {
    display: block;
    background-color: #6f5d4f;
}

/* body qui arrive
body {

    
}*/


/* homeBODY STYLE*/
body.homeBODY {
    background-image:
            radial-gradient(white 6%, transparent 7%),
            linear-gradient(to bottom, pink, white);
    
        background-size:
            40px 40px,
            /* points */
            100% 100%;
        /* dégradé */
    
        background-repeat:
            repeat,
            /* points */
            no-repeat;
        /* dégradé */
    
        background-position:
            0 0,
            0 0;
}



main {
    padding: 0 200px;

    
}

main.whoamiMAIN {
   
}